@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --font1: arial, verdana, Times;
    --font2: 'Nunito+Sans', 'cursive';
    --cor1: #fd6809;
    --cor2: #ff944e;
    --cor3: white;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(248, 238, 229);
    font-family: var(--font2);
}

header {
    height: 80px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid var(--cor1);
}
header>h1 {
    color: var(--cor1);
    font-weight: bold;
}

header>p {
    text-align: center;
    color:var(--cor2);
    padding-top: 15px;
    font-weight: bold;
    
}


nav {
    background-color: white;
    padding: 15px;
    padding-left: 6.1vw;
    
    
}

nav>a {
    padding: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.658);
}

nav > a:hover {
    color: var(--cor1);
    text-decoration: underline;
    transition-duration: .5s;
}

main {
    padding: 10px;
    font-family: var(--font2);
}

main .imagem1 {
    height: 1000px;
    background-image: url(imagens/portrait-beautiful-young-asian-woman-using-laptop-for-working-and-sitting-on-sofa-chair-in-living-room-area\ 2.jpg);
    background-position: center ;
    
    
    
    
}

main > section {
    background-color: var(--cor3);
}

main > section > h1 , p {
    font-weight: bold;

}

main #img01 {
    margin-left: -10px;
    margin-right: -10px;
}

main > .imagem1 > h1 {
    display: grid;
    text-align: right;
    font-size: clamp(1.7em,3.4vw, 3em);
    color: white;
    padding-top: 700px;
    padding-right: 50px;
    line-height: 1.1em;
    
}
main > .imagem1 > p {
    position: relative;
    display: grid;
    text-align: right;
    color: white;
    font-size: 1.3em;
    padding-right: 50px;
}

main .imagem1 > a {
    position: absolute;
    margin-top: 10px;
    right: 50px;
    background-color: var(--cor1);
    color: var(--cor3);
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px 7px 7px;
    text-align: right;
    text-decoration: none;
    
    
}
main > .imagem1 > a:hover {
    text-decoration: none;
    background-color: #ff944e;
}
