@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --font1: arial, verdana, Times;
    --font2: 'Nunito+Sans', 'cursive';
    --cor1: #fd6809;
    --cor2: #ff944e;
    --cor3: white;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor3);
    font-family: var(--font2);
}

header {
    height: 80px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid var(--cor1);
}
header>h1 {
    color: var(--cor1);
    font-weight: bold;
}

header>p {
    text-align: center;
    color:var(--cor2);
    padding-top: 15px;
    font-weight: bold;
    
}


nav {
    background-color: white;
    padding: 15px;
    padding-left: 6.1vw;
    
    
}

nav>a {
    padding: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.658);
}

nav > a:hover {
    color: var(--cor1);
    text-decoration: underline;
    transition-duration: .5s;
}

main {
    padding: 10px;
    font-family: var(--font2);
}

main .imagem1 {
    height: 1000px;
    background-image: url(imagens/portrait-beautiful-young-asian-woman-using-laptop-for-working-and-sitting-on-sofa-chair-in-living-room-area\ 2.jpg);
    background-position: center ;
    
    
    
    
}

main > section {
    background-color: var(--cor3);
}

main > section > h1 , p {
    font-weight: bold;

}

main #img01 {
    margin-left: -10px;
    margin-right: -10px;
}

main > .imagem1 > h1 {
    font-family: var(--font2);
    display: grid;
    text-align: right;
    font-size: clamp(1.7em,3.4vw, 3em);
    color: white;
    padding-top: 700px;
    padding-right: 50px;
    line-height: 1.1em;
    
}
main > .imagem1 > p {
    font-family: var(--font2);
    position: relative;
    display: grid;
    text-align: right;
    color: white;
    font-size: 1.3em;
    padding-right: 50px;
    font-weight: lighter;
}

main .imagem1 > a {
    position: absolute;
    margin-top: 10px;
    right: 50px;
    background-color: var(--cor1);
    color: var(--cor3);
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px 7px 7px;
    text-align: right;
    text-decoration: none;
    
    
}
main > .imagem1 > a:hover {
    text-decoration: none;
    background-color: #ff944e;
}

main .normal {
    text-align: left;
    padding: 30px;
    color: rgba(0, 0, 0, 0.753);
}

main .normal > h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: clamp(1.8em,3vw,3em);
}

main .normal > p {
    font-size: clamp(1.5em,3vw,1.6em);
    font-weight: lighter;
}

main .imagem {
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    text-align: left;
    background-color: var(--cor2);
    color: var(--cor3);
    padding-bottom: 0px;
    
}

main .imagem > .texto > h2 {
    font-weight: bold;
    font-size: clamp(1.8em,3vw,3em);
    padding-top: 15px;
}

main .imagem > .texto > p {
    font-size: clamp(1.5em,3vw,1.6em);
    font-weight: lighter;
    padding-bottom: 10px;

}

main > .imagem > .foto {
    background-image: url(imagens/student-online-young-cute-girl-in-glasses-and-orange-sweater-studying-on-computer-shocked.jpg);
    height: 550px;
    
    background-position: center bottom;
}
main > .imagem > .foto {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 0px;
    margin-top: -30px;
}

main > .container { 
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

main > .container > .login {
     
    background-color: #ff954e8f;
    border: 1px solid var(--cor1);
    border-radius: 10px 10px 10px;
    padding: 15px;
    padding-bottom: 30px;
    
    
    
}

 main> .container > .login>h2 , .paragrafo {
    font-family: var(--font2);
    color: rgba(0, 0, 0, 0.712);

}

main > .container > .login > h2 {
    font-weight: bold;
    font-size: clamp(1.8em,3vw,3em);
}

main > .container > .login > .paragrafo {
    font-size: clamp(1.5em,3vw,1.6em);
    font-weight: lighter;
    padding-bottom: 20px;
    
}

main > .container > .login > .botaologin {
    background-color: rgb(255, 60, 0);
    padding: 15px;
    border: 1px solid var(--cor1);
    border-radius: 10px 10px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

main > .container > .login > .botaologin:hover {
    background-color: #ff944e;
    color: rgb(255, 69, 0);
}

footer {
    border: 1px solid #fd6809;
    border-bottom: white;
    border-left: white;
    border-right: white;
    margin-left: 30px;
    margin-right: 30px;
    background-color: var(--cor3);
    color: var(--cor1);
    padding: 20px;
    margin-top: 30px;
    font-family: var(--font2);
    font-size: medium;
}

footer > .rodape1 {
    padding-bottom: 17px;
    padding-top: 17px;
}

footer > .rodape1 > .termos {
    color: rgba(0, 0, 0, 0.486);
}

footer > .rodape1 > .termos:hover {
    color: #fd6809;
}

footer > .rodape1 > .wcrodape > .rodape1 {
    padding-bottom: 15px;
}

