@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --font1: arial, verdana, Times;
    --font2: 'Nunito+Sans', 'cursive';
    --cor1: #fd6809;
    --cor2: #ff944e;
    --cor3: white;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
}

i#burguer {
    background-color: #fd6809;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: #fd6809;
}

nav{
    display:none;
}

main .imagem1 {
    height: 1000px;
    background-image: url(../imagens/portrait-beautiful-young-asian-woman-using-laptop-for-working-and-sitting-on-sofa-chair-in-living-room-area\ 2.jpg);
    background-position: center;
    
    


}

 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} 

main> #quadro {
    display: block;
    margin: 15px;
}

main> #quadro> .foto {
    
    background-image: url(../imagens/student-online-young-cute-girl-in-glasses-and-orange-sweater-studying-on-computer-shocked.jpg);
    background-position: center bottom;
    height: 500px;
    
}

main #quadro>.texto {
    background-color: var(--cor1);
    height: 300px;
    color: var(--cor3);
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: clamp(1.5em, 3vw, 3em);
    padding-left: 30px;
}

#quadro>.texto p {
    padding-top: 20px;
    font-size: clamp(0.7em, 3vw, 1.6em);
    font-weight: lighter;
    padding-bottom: 5px;
}