@import url('https://fonts.googleapis.com/css2?family= Lexend +Deca:wght@100;200;300;400 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;

}

@media screen and (min-width:768px) and (max-width:992px) {
    #login {
        width: 560px;
        height: 600px;
    }

    section#login > div#imagem {
        height: 120px;
        width: 120px;
    }

    section#login > div#formulario {
        padding: 20px;
    }

    div#formulario > h1 {
        font-size: 3.2em;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 85px;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin-bottom: 30px;
    }

    form > p.titulo {
        padding: 7px;
        margin-bottom: -10px;
    }
    
    form > div.campo {
        margin: 7px 0px;
    }
}