@import url('https://fonts.googleapis.com/css2?family= Lexend +Deca:wght@100;200;300;400 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;

}

@media screen and (min-width:768px) and (max-width:992px) {
    #login {
        width: 560px;
        height: 600px;
    }

    section#login > div#imagem {
        height: 120px;
        width: 120px;
    }
}